/* <!-- H4RDCORR --> */
body,
html {
  padding: 0;
  margin: 0;
  width: 100% !important;
  height: 100% !important;
}

a,
span,
h1,
h2,
h3,
h4,
h5,
li {
  font-family: "PT Sans", sans-serif;
}

h1,
h2,
h3,
h4,
h5 {
  font-weight: bold;
}

.container-fluid {
  max-width: 89% !important;
}

.main-wrap .items {
  height: 490px;
  /* background-color: pink; */
  padding: 10px;
}

.main-wrap .items:last-child {
  margin-right: 0;
}

nav {
  z-index: 4000;
}

.navigation {
  background-color: none !important;
  background: none !important;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 100%;
  -webkit-transition: 1s;
  -o-transition: 1s;
  transition: 1s;
}

nav .nav-item a {
  font-size: 1.1em;
  font-weight: bold;
  color: rgb(46, 46, 46);
  -webkit-transition: inherit;
  -o-transition: inherit;
  transition: inherit;
}

.navbar.active {
  position: fixed !important;
  top: 0;
  left: 0;
  background-color: #000 !important;
}
.navbar.active .navbar-toggler {
  background-color: #fff;
}
.navbar.active > a,
.navbar.active .nav-link {
  color: #fff !important;
  border: none !important;
}
nav .nav-item:hover a {
  opacity: 1;
}

header {
  width: 100%;
  height: 870px;
  overflow: hidden;
}

.parallax-wrap {
  width: 100%;
  height: 100%;
  position: relative;
  top: -62px;
}

.fixed {
  position: fixed;
}

.nav-page {
  background-color: #000 !important;
  width: 100%;
  justify-content: space-between;
}

.nav-page .logo,
.nav-page .nav-link {
  color: #fff !important;
}

.cover-block {
  width: 100%;
  height: 100px;
  left: 0;
  background-color: #000;
  position: absolute;
  bottom: 0;
  z-index: 2000;
  text-align: center;
}

.head-menu .nav-item {
  padding-right: 15px;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.head-menu .nav-item a {
  padding: 0 !important;
  border-bottom: 2px solid rgba(0, 0, 0, 0);
}
.head-menu .nav-item:hover a {
  border-bottom: 2px solid;
}

.cover-block-text {
  position: relative;
  display: inline;
  color: #fff;
  font-weight: 100;
  text-transform: uppercase;
  font-size: 1.2em;
  line-height: 100px;
}

.cover-block-text:after {
  position: absolute;
  top: 50%;
  margin-top: -1.5px;
  right: -27px;
  content: "";
  display: inline-block;
  width: 20px;
  height: 3px;
  background-color: #ffa812;
}

.collapse-grow {
  -webkit-box-flex: 0;
  -ms-flex-positive: 0;
  flex-grow: 0;
}

.bg-images {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-transform-style: preserve-3d !important;
  transform-style: preserve-3d !important;
  -webkit-perspective: 500px !important;
  perspective: 500px !important;
}

.top-img {
  position: absolute;
  -webkit-transform: translateZ(1);
  transform: translateZ(1);
  width: 100%;
  height: 300px;
  top: -100px;
  background-position: center 274%;
  background-image: url(../img/landin-slider-img-11.png);
  z-index: 500;
}

.bottom-img {
  position: absolute;
  width: 100%;
  height: 300px;
  bottom: 0;
  background-position: center 3%;
  background-image: url(../img/landin-slider-img-11.png);
  z-index: 500;
  -webkit-transform: translateZ(1);
  transform: translateZ(1);
}

.sportgirl {
  will-change: scroll-position;
  position: absolute;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  top: 0;
  left: 0;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  background-image: url(../img/landing1-slider-1.jpg);
  z-index: 100;
  -webkit-transform: translateZ(-500px) scale(2);
  transform: translateZ(-500px) scale(2);
}

/* .sportgirl:before {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.2);
    z-index: 200;
} */

.parallax-text {
  display: block;
  width: 100%;
  height: 100%;
}
.par-text {
  text-transform: uppercase;
  position: absolute;
  left: 70%;
  top: 50%;
  margin-top: -62px;
  -webkit-transform: translateY(-50%) scale(1);
  -ms-transform: translateY(-50%) scale(1);
  transform: translateY(-50%) scale(1);
  z-index: 1000;
  color: #ffa812;
  overflow: hidden;
  padding-bottom: 6px;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  will-change: auto;
  padding: 10px 0;
}

.par-text:after {
  position: absolute;
  content: "";
  display: block;
  bottom: 0;
  left: -100%;
  width: 100%;
  height: 3px;
  background-color: #ffa812;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.par-text:hover:after {
  left: 0;
}

.par-text:hover {
  -webkit-transform: translateY(-50%) scale(1.1);
  -ms-transform: translateY(-50%) scale(1.1);
  transform: translateY(-50%) scale(1.1);
}

.train-titel {
  text-align: center;
  line-height: 70px;
  padding-top: 10px;
}

.logo {
  color: #000 !important;
  font-weight: normal;
  font-size: 1.5em;
  width: 70px;
  max-width: 70px !important;
}

.logo span {
  font-weight: bold;
}

.train-card {
  text-align: center;
  cursor: pointer;
}

.items:nth-child(1) .train-card {
  width: 100%;
  height: 100%;
  position: relative;

  background-image: url(../img/aerobik.jpg);
  background-position: center;
}
.items:nth-child(2) .train-card {
  width: 100%;
  height: 100%;
  position: relative;

  background-image: url(../img/strong-2.jpg);
  background-position: center;
  background-size: auto 100%;
}
.items:nth-child(3) .train-card {
  width: 100%;
  height: 100%;
  position: relative;

  background-image: url(../img/ioga.jpg);
  background-position: left center;
  background-size: auto 100%;
}
.items:nth-child(4) .train-card {
  width: 100%;
  height: 100%;
  position: relative;

  background-image: url(../img/pachata-2.jpg);
  background-position: center center;
  background-size: 100% auto;
}
.items:nth-child(5) .train-card {
  width: 100%;
  height: 100%;
  position: relative;

  background-image: url(../img/ofp.jpeg);
  background-position: right center;
  background-size: auto 100%;
}
.items:nth-child(6) .train-card {
  width: 100%;
  height: 100%;
  position: relative;

  background-image: url(../img/djaz-2.jpg);
  background-position: left center;
  background-size: cover;
}
.items:nth-child(7) .train-card {
  width: 100%;
  height: 100%;
  position: relative;

  background-image: url(../img/pilates.jpg);
  background-position: 30% center;
  background-size: auto 100%;
}
.items:nth-child(8) .train-card {
  width: 100%;
  height: 100%;
  position: relative;

  background-image: url(../img/tennis.jpg);
  background-position: center center;
  background-size: auto 100%;
}
.items:nth-child(9) .train-card {
  width: 100%;
  height: 100%;
  position: relative;

  background-image: url(../img/gimnas.jpg);
  background-position: center center;
  background-size: auto 100%;
}
.items:nth-child(10) .train-card {
  width: 100%;
  height: 100%;
  position: relative;

  background-image: url(../img/stretch-3.jpg);
  background-position: center center;
  background-size: auto 100%;
}
.items:nth-child(11) .train-card {
  width: 100%;
  height: 100%;
  position: relative;

  background-image: url(../img/kick.jpg);
  background-position: center center;
  background-size: cover;
}

.train-card:after {
  position: absolute;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  -webkit-transition-delay: 0.1s;
  -o-transition-delay: 0.1s;
  transition-delay: 0.1s;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  content: "";
  display: block;
  background-color: rgba(0, 0, 0, 0.5);
}

.train-card > h1 {
  opacity: 0.8;
  font-size: 2em;
  color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  z-index: 1000;
}
.train-card:hover h1 {
  opacity: 1;
}
.train-card:hover:after {
  background-color: #fff;
  background-color: rgba(0, 0, 0, 1);
}

.table-tit {
  line-height: 40px;
}

.price-title {
  text-align: center;
  padding: 30px 0;
}

.table .thead-dark th {
  color: #fff;
  background-color: #000;
  border-color: #32383e;
}

.table .tr-row:hover {
  background-color: #9999;
}

.timetable-1 td,
.timetable-1 th {
  border-collapse: collapse;
  border: 1px solid #dee2e6;
}

/* GALLERY */
.gallery .title {
  display: block;
  text-align: center;
  padding: 20px 0;
}

/* CONTACTS */

.contacts_wrap h1 {
  text-align: left;
}

.contacts_block {
  padding: 40px 0 0 0px;
}

.contacts {
  padding-top: 40px;
}

.modal-dialog {
  margin: 0 !important;
  max-width: 100% !important;
  height: 100% !important;
  width: 100%;
}

.Img-js {
  background-repeat: no-repeat;
  width: 80%;
  max-width: 1000px;
  height: 700px;
  background-size: contain;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.modal {
  overflow: hidden !important;
}

.thumb {
  margin-bottom: 30px;
}

.navbar-toggler {
  padding: 6px 5px;
}

.aerobika h1 {
  text-align: center;
  padding: 30px 0;
}

.img-aerobic-1,
.img-aerobic-2,
.img-sila-1,
.img-sila-2,
.img-yoga-1,
.img-yoga-2,
.img-bachata-1,
.img-bachata-2,
.img-ofp-2,
.img-ofp-1,
.img-jazfank-1,
.img-jazfank-2,
.img-pilatas-2,
.img-pilatas-1,
.img-tenis-1,
.img-tenis-2,
.img-razvgim-2,
.img-razvgim-1,
.img-stretch-1,
.img-stretch-2,
.img-taibo-1,
.img-taibo-2 {
  background-repeat: no-repeat;
  background-position: center center;
  height: 500px;
  background-size: cover;
  margin-bottom: 20px;
}

.img-aerobic-1 {
  background-image: url(../img/aerobika/1.jpg);
}

.img-aerobic-2 {
  background-image: url(../img/aerobika/2.jpg);
}

.img-sila-1 {
  background-image: url(../img/sila/1.jpg);
}

.img-sila-2 {
  background-image: url(../img/sila/2.jpg);
}

.img-yoga-1 {
  background-image: url(../img/yoga/1.jpg);
}

.img-yoga-2 {
  background-image: url(../img/yoga/2.jpg);
}

.img-bachata-2 {
  background-image: url(../img/bachata/1.jpg);
}
.img-bachata-1 {
  background-image: url(../img/bachata/2.jpeg);
}

.img-ofp-2 {
  background-image: url(../img/ofp/1.jpg);
}

.img-ofp-1 {
  background-image: url(../img/ofp/2.jpg);
}

.img-jazfank-2 {
  background-image: url(../img/jazfank/1.jpg);
}

.img-jazfank-1 {
  background-image: url(../img/jazfank/2.jpg);
}

.img-pilatas-1 {
  background-image: url(../img/pilatas/1.jpg);
}

.img-pilatas-2 {
  background-image: url(../img/pilatas/2.jpg);
}

.img-tenis-1 {
  background-image: url(../img/tenis/1.jpg);
}

.img-tenis-2 {
  background-image: url(../img/tenis/2.jpg);
}

.img-razvgim-1 {
  background-image: url(../img/razvgim/1.jpg);
}

.img-razvgim-2 {
  background-image: url(../img/razvgim/2.jpg);
}

.img-stretch-1 {
  background-image: url(../img/stretch/1.jpg);
}

.img-stretch-2 {
  background-image: url(../img/stretch/2.jpg);
}

.img-taibo-1 {
  background-image: url(../img/taibo/1.jpg);
}
.img-taibo-2 {
  background-image: url(../img/taibo/2.jpg);
}

.footer {
  width: 100%;
  padding: 0 20px;
  background-color: #000;
  color: #fff;
  line-height: 67px;
}

.mobile-cont_wrap {
  padding-bottom: 70px;
}

.footer-text {
  font-family: "PT Sans", sans-serif;
  font-weight: 600;
  font-size: 0.9em;
  margin: 0;
}
.footer-text span {
  font-weight: 400;
  font-size: 0.8em;
}
