<!-- H4RDCORR -->
<!DOCTYPE html> 
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet" type="text/css">
    <link href="{{ url_for('static', filename='css/fonts.css') }}" rel="stylesheet" type="text/css">
    <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet" type="text/css">
    <link href="{{ url_for('static', filename='css/mobile.css') }}" rel="stylesheet" type="text/css">

</head>
<!-- H4RDCORR -->
<body>
      
      <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-light navigation">
          <a class="navbar-brand logo" href="http://aeromix-khimki.1gb.ru/">Aero<span>Mix</span></a>
          <button class="navbar-toggler " type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class style="color: rgba(0, 0, 0, 0.5); font-weight: bold;">menu</span>
            <span class="navbar-toggler-icon"></span>
          </button>
  
          <div class="collapse navbar-collapse collapse-grow head-menu menu_burger" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item active">
                <a class="nav-link" href="#priceSection">Цены<span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item active">
                <a class="nav-link" href="#trainings"> Виды спорта<span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item active">
                <a class="nav-link" href="#board-1"> Расписание<span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item active">
                <a class="nav-link" href="#contactUs">Контакты<span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item active">
                <a class="nav-link" href="#galereya">Галлерея <span class="sr-only">(current)</span></a>
              </li>
            </ul>
          </div>
        </nav>
        <!--       PARALAX WRAP         -->
        <div class="parallax-wrap">
            <div class="bg-images">
              <div class="top-img"></div>
              <div class="sportgirl"></div>
              <div class="bottom-img"></div>
              <a href='' class="parallax-text">
                <h2 class="par-text">инстаграмм</h2>
              </a>
            </div>
            <div class="cover-block">
              <h4 class="cover-block-text">занимайся спортом с нами</h4>
            </div>
        </div>

      </header>

      <!--    ЦЕНЫ     -->
      <section id="priceSection">
        <div class="main-wrap">
          <div class="container-fluid">
            <div class="price-table table-responsive">
              <h1 class="price-title">ЦЕНЫ</h1>
              <table class="table">
                <thead class="thead-dark">
                  <tr class="tr-row">
                    <th scope="col">НАЗВАНИЕ</th>
                    <th scope="col">ПРОГРАММА ПОСЕЩАЕМОСТИ</th>
                    <th scope="col">ЦЕНЫ</th>
                  </tr>
                </thead>
                <tbody>
                  <tr class="tr-row">
                    <th scope="row">Разовое занятие для детей и взрослых</th>
                    <td>1 раз</td>
                    <td>650 р</td>
                  </tr>
                  <tr class="tr-row">
                    <th scope="row">Абонемент "Безлимит"</th>
                    <td>Безлимитное колличество посещений в течении месяца</td>
                    <td>5 000 р</td>
                  </tr>
                  <tr class="tr-row">
                    <th scope="row">Индивидуальная тренировка</th>
                    <td>Разовое занятие</td>
                    <td>2 000 р</td>
                  </tr>
                  <tr class="table-tit">
                    <td></td>
                    <th>ДЕТИ</th>
                    <td></td>
                  </tr>
                  <tr class="tr-row">
                    <th>Дети</th>
                    <td>Абонемент на 1 месяц (2 раза в неделю)</td>
                    <td>4 000 р</td>
                  </tr>
                  <tr class="tr-row" class="tr-row">
                    <th scope="row">Дети</th>
                    <td>Абонемент на 1 месяц (3 раза в неделю)</td>
                    <td>5 000 р</td>
                  </tr>
                  <tr class="tr-row" class="tr-row">
                    <th scope="row">Дети</th>
                    <td>Абонемент на 1 месяц (4 – 5 раз в неделю)</td>
                    <td>5 500 р</td>
                  </tr>
                  <tr class="tr-row" class="tr-row">
                    <th scope="row">Джаз - фанк</th>
                    <td>Абонемент на 1 месяц (2 раза в неделю)</td>
                    <td>3 000 р</td>
                  </tr>
                  <tr class="table-tit">
                    <td></td>
                    <th scope="col">ВЗРОСЛЫЕ</th>
                    <td></td>
                  </tr>
                  <tr class="tr-row">
                    <th scope="row">Силовая</th>
                    <td>Абонемент на 1 месяц (1 раз в неделю)</td>
                    <td>1 600 р</td>
                  </tr>
                  <tr class="tr-row">
                    <th scope="row">Стретчинг</th>
                    <td>Абонемент на 1 месяц (2 раза в неделю)</td>
                    <td>3 000 р</td>
                  </tr>
                  <tr class="tr-row">
                    <th scope="row">Ламбаэробика</th>
                    <td>Абонемент на 1 месяц (3 раза в неделю)</td>
                    <td>4 000 р</td>
                  </tr>
                  <tr class="tr-row">
                    <th scope="row">Йога</th>
                    <td>Абонемент на 1 месяц (4 занятия)</td>
                    <td>2 000 р</td>
                  </tr>
                  <tr class="tr-row">
                    <th scope="row">Йога</th>
                    <td>Абонемент на 1 месяц (8 занятий)</td>
                    <td>3 600 р</td>
                  </tr>
                  <tr class="tr-row">
                    <th scope="row">Йога</th>
                    <td>Разовое занятие</td>
                    <td>650 р</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </section>

      <!--  ТРЕНИРОВКИ    -->
      <section id="trainings">
        <div class="main-wrap">
          <div class="container-fluid">
            <h1 class="train-titel">  ВИДЫ СПОРТА</h1>
            <div class="row">
              <div class="col-sm-11 col-lg-4 col-xl-3 col-md-6  items">
                <a href="">
                  <div class="train-card">
                    <h1>Спортивная аэробика</h1>
                  </div>
                </a>
              </div>
              <div class="col-sm-11 col-lg-4 col-xl-3 col-md-6  items">
                <a href="">
                  <div class="train-card">
                    <h1>Силовая тренировка</h1>
                  </div>
                </a>
              </div>
              <div class="col-sm-11 col-lg-4 col-xl-3 col-md-6  items">
                <a href="">
                  <div class="train-card">
                    <h1>Йога</h1>
                  </div>
                </a>
              </div>
              <div class="col-sm-11 col-lg-4 col-xl-3 col-md-6  items">
                <a href="">
                  <div class="train-card">
                    <h1>Пачата</h1>
                  </div>
                </a>
              </div>
              <div class="col-sm-11 col-lg-4 col-xl-3 col-md-6  items">
                <a href="">
                  <div class="train-card">
                    <h1>О.Ф.П.</h1>
                  </div>
                </a>
              </div>
              <div class="col-sm-11 col-lg-4 col-xl-3 col-md-6  items">
                <a href="">
                  <div class="train-card">
                    <h1>Джаз-фанк</h1>
                  </div>
                </a>
              </div>

              <div class="col-sm-11 col-lg-4 col-xl-3 col-md-6  items">
                <a href="">
                  <div class="train-card">
                    <h1>Пилатес</h1>
                  </div>
                </a>
              </div>
            <div class="col-sm-11 col-lg-4 col-xl-3 col-md-6  items">
              <a href="">
                <div class="train-card">
                  <h1>Настольный теннис</h1>
                </div>
              </a>
            </div>
            <div class="col-sm-11 col-lg-4 col-xl-3 col-md-6  items">
              <a href="">
                <div class="train-card">
                  <h1>Развивающая гимнастика</h1>
                </div>
              </a>
            </div>
            <div class="col-sm-11 col-lg-4 col-xl-3 col-md-6  items">
              <a href="">
                <div class="train-card">
                  <h1>Стретчинг</h1>
                </div>
              </a>
            </div>
            <div class="col-sm-11 col-lg-4 col-xl-3 col-md-6  items">
              <a href="">
                <div class="train-card">
                  <h1>Тай Бо</h1>
                </div>
              </a>
            </div>
          </div>
        </div>
      </section>

      <!--    РАСПИСАНИЕ     -->
      <section id="board-1">
        <div class="main-wrap">
          <div class="container-fluid">
            <div class="timetable-1 table-responsive">
              <h1 class="price-title">РАСПИСАНИЕ</h1>
              <h2>ДЛЯ ДЕТЕЙ</h2>
              <table class="table">
                <thead class="thead-dark">
                  <tr class="tr-row">
                    <th scope="col">ГРУППА</th>
                    <th scope="col">ПОНЕДЕЛЬНИК</th>
                    <th scope="col">ВТОРНИК</th>
                    <th scope="col">СРЕДА</th>
                    <th scope="col">ЧЕТВЕРГ</th>
                    <th scope="col">ПЯТНИЦА</th>
                    <th scope="col">СУББОТА</th>
                    <th scope="col">ВОСКРЕСЕНЬЕ</th>
                  </tr>
                </thead>
                <tbody>
                <tr><td valign="top" width="12.5%"><p><strong>Развивающая   гимнастика</strong></p>
                <p><strong><em>2 -3 года</em></strong></p>
                </td>
                <td valign="top" width="12.5%">
                <p ><strong>11.00 </strong></p>
                <p ><strong>Зал № 2</strong></p>
                <p ><strong> </strong></p>
                </td>
                <td valign="top" width="12.5%">
                <p ><strong> </strong></p>
                </td>
                <td valign="top" width="12.5%">
                <p ><strong>11.00 </strong></p>
                <p ><strong>Зал № 2</strong></p>
                </td>
                <td valign="top" width="12.5%">
                <p ><strong> </strong></p>
                </td>
                <td valign="top" width="12.5%">
                <p ><strong> </strong></p>
                </td>
                <td valign="top" width="12.5%">
                <p ><strong>10.00</strong><strong></strong></p>
                <p ><strong>Зал № 2</strong></p>
                </td>
                <td valign="top" width="12.5%">
                <p><strong> </strong></p>
                <p><strong> </strong></p>
                </td>
                </tr>
                <tr>
                <td valign="top" width="12.5%">
                <p><strong>Спортивная   аэробика </strong></p>
                <p><strong><em>4 – 5 лет</em></strong></p>
                </td>
                <td valign="top" width="12.5%">
                <p ><strong>17.00 </strong></p>
                <p ><strong>Зал № 2</strong></p>
                </td>
                <td valign="top" width="12.5%">
                <p ><strong>18.00 </strong></p>
                <p ><strong>Зал № 2</strong></p>
                <p ><strong> </strong></p>
                </td>
                <td valign="top" width="12.5%">
                <p ><strong>17.00 </strong></p>
                <p ><strong>Зал № 2</strong></p>
                </td>
                <td valign="top" width="12.5%">
                <p ><strong>18.00 </strong></p>
                <p ><strong>Зал № 1</strong></p>
                </td>
                <td valign="top" width="12.5%">
                <p ><strong>17.00 </strong></p>
                <p ><strong>Зал № 1</strong></p>
                </td>
                <td valign="top" width="12.5%">
                <p ><strong>11.00 </strong></p>
                <p ><strong>Зал № 1</strong></p>
                </td>
                <td valign="top" width="12.5%">
                <p><strong> </strong></p>
                </td>
                </tr>
                <tr>
                <td valign="top" width="12.5%">
                <p><strong>Спортивная   аэробика</strong></p>
                <p><strong><em>5 – 7 лет</em></strong></p>
                </td>
                <td valign="top" width="12.5%">
                <p ><strong>16.30 </strong></p>
                <p ><strong>Зал № 3</strong></p>
                <p ><strong> </strong></p>
                </td>
                <td valign="top" width="12.5%">
                <p ><strong>16.30</strong></p>
                <p ><strong> Зал № 1</strong></p>
                <p ><strong>Хореография</strong></p>
                <p ><strong>Акробатика</strong></p>
                </td>
                <td valign="top" width="12.5%">
                <p ><strong>16.30 </strong></p>
                <p ><strong>Зал №1</strong></p>
                </td>
                <td valign="top" width="12.5%">
                <p ><strong>16.30 </strong></p>
                <p ><strong>Зал № 2</strong></p>
                </td>
                <td valign="top" width="12.5%">
                <p ><strong>16.30 </strong></p>
                <p ><strong>Зал № 2</strong></p>
                </td>
                <td valign="top" width="12.5%">
                <p ><strong> </strong></p>
                </td>
                <td valign="top" width="12.5%">
                <p><strong> </strong></p>
                </td>
                </tr>
                <tr>
                <td valign="top" width="12.5%">
                <p><strong>Спортивная   аэробика</strong></p>
                <p><strong><em>8 – 10 лет</em></strong></p>
                </td>
                <td valign="top" width="12.5%">
                <p ><strong>18.00 </strong></p>
                <p ><strong>Зал № 2</strong></p>
                <p ><strong> </strong></p>
                </td>
                <td valign="top" width="12.5%">
                <p ><strong>18.00</strong></p>
                <p ><strong> Зал № 1</strong></p>
                <p ><strong>Хореография</strong></p>
                <p ><strong>Акробатика</strong></p>
                </td>
                <td valign="top" width="12.5%">
                <p ><strong>18.00 </strong></p>
                <p ><strong>Зал №2</strong></p>
                </td>
                <td valign="top" width="12.5%">
                <p ><strong>18.00 </strong></p>
                <p ><strong>Зал № 2</strong></p>
                </td>
                <td valign="top" width="12.5%">
                <p ><strong>18.00 </strong></p>
                <p ><strong>Зал № 2</strong></p>
                </td>
                <td valign="top" width="12.5%">
                <p ><strong>13.00 </strong></p>
                <p ><strong>Зал № 3</strong></p>
                <p ><strong>Программы</strong></p>
                </td>
                <td valign="top" width="12.5%">
                <p><strong> </strong></p>
                </td>
                </tr>
                
                <tr>
                <td valign="top" width="12.5%">
                <p><strong>ОФП</strong></p>
                <p><strong><em>10 – 13 лет</em></strong></p>
                </td>
                <td valign="top" width="12.5%">
                <p ><strong>15.30 </strong></p>
                <p ><strong>Зал № 2</strong></p>
                <p ><strong> </strong></p>
                </td>
                <td valign="top" width="12.5%">
                
                </td>
                <td valign="top" width="12.5%">
                <p ><strong>15.30 </strong></p>
                <p ><strong>Зал №2</strong></p>
                </td>
                <td valign="top" width="12.5%">
                
                </td>
                <td valign="top" width="12.5%">
                <p ><strong>15.30 </strong></p>
                <p ><strong>Зал № 2</strong></p>
                </td>
                <td valign="top" width="12.5%">
                
                </td>
                <td valign="top" width="12.5%">
                <p><strong> </strong></p>
                </td>
                </tr>
                
                <tr>
                <td valign="top" width="12.5%">
                <p><strong>Спортивная   аэробика</strong></p>
                <p><strong><em>Сборная команда</em></strong></p>
                </td>
                <td valign="top" width="12.5%">
                <p ><strong>17.00 </strong></p>
                <p ><strong>Зал № 1</strong></p>
                <p ><strong>до (19.00)</strong></p>
                </td>
                <td valign="top" width="12.5%">
                <p ><strong>17.00 </strong></p>
                <p ><strong>Зал № 3</strong></p>
                </td>
                <td valign="top" width="12.5%">
                <p ><strong>17.00 </strong></p>
                <p ><strong>Зал № 3</strong></p>
                </td>
                <td valign="top" width="12.5%">
                <p ><strong>17.00 </strong></p>
                <p ><strong>Зал № 3</strong></p>
                </td>
                <td valign="top" width="12.5%">
                <p ><strong>18.00 </strong></p>
                <p ><strong>Зал № 1</strong></p>
                </td>
                <td valign="top" width="12.5%">
                <p ><strong></strong></p>
                
                
                </td>
                <td valign="top" width="12.5%">
                
                </td>
                </tr>
                <tr>
                <td valign="top" width="12.5%">
                <p><strong> </strong></p>
                <p><strong>Джаз - фанк</strong></p>
                <p><strong><em>10 – 16 лет</em></strong></p>
                </td>
                <td valign="top" width="12.5%">
                <p ><strong>20.00 </strong></p>
                <p ><strong>Зал № 2</strong></p>
                <p ><strong> </strong></p>
                </td>
                <td valign="top" width="12.5%">
                <p ><strong> </strong></p>
                </td>
                <td valign="top" width="12.5%">
                <p ><strong>20.00 </strong></p>
                <p ><strong>Зал № 2</strong></p>
                <p ><strong> </strong></p>
                </td>
                <td valign="top" width="12.5%">
                <p ><strong> </strong></p>
                </td>
                <td valign="top" width="12.5%">
                
                </td>
                <td valign="top" width="12.5%">
                <p ><strong> </strong></p>
                <p ><strong> </strong></p>
                </td>
                <td valign="top" width="12.5%">
                <p><strong> </strong></p>
                </td>
                </tr>
                </tbody>
              </table>
              <h2>ДЛЯ ВЗРОСЛЫХ</h2>
              <table class="table">
                <thead class="thead-dark">
                  <tr class="tr-row">
                    <th scope="col">ГРУППА</th>
                    <th scope="col">ПОНЕДЕЛЬНИК</th>
                    <th scope="col">ВТОРНИК</th>
                    <th scope="col">СРЕДА</th>
                    <th scope="col">ЧЕТВЕРГ</th>
                    <th scope="col">ПЯТНИЦА</th>
                    <th scope="col">СУББОТА</th>
                    <th scope="col">ВОСКРЕСЕНЬЕ</th>
                  </tr>
                </thead>
                <tbody>
                <tr>
                <td valign="top" width="12.5%">
                <p><strong> </strong></p>
                <p><strong>Стретчинг</strong></p>
                <p><strong> </strong></p>
                </td>
                <td valign="top" width="12.5%">
                <p ><strong> </strong></p>
                <p ><strong>9.00</strong></p>
                <p ><strong>Зал № 2</strong></p>
                <p ><strong> </strong></p>
                </td>
                <td valign="top" width="12.5%">
                <p ><strong> </strong></p>
                </td>
                <td valign="top" width="12.5%">
                
                </td>
                <td valign="top" width="12.5%">
                <p ><strong> </strong></p>
                <p ><strong>9.00</strong></p>
                <p ><strong>Зал № 2</strong></p>
                </td>
                <td valign="top" width="12.5%">
                <p ><strong> </strong></p>
                </td>
                <td valign="top" width="12.5%">
                <p ><strong> </strong></p>
                </td>
                <td valign="top" width="12.5%">
                <p><strong> </strong></p>
                </td>
                </tr>
                
                <tr>
                <td valign="top" width="12.5%">
                <p><strong> </strong></p>
                <p><strong>Пилатес</strong></p>
                <p><strong> </strong></p>
                </td>
                <td valign="top" width="12.5%">
                
                </td>
                <td valign="top" width="12.5%">
                <p ><strong> </strong></p>
                </td>
                <td valign="top" width="12.5%">
                <p ><strong>20.00</strong></p>
                <p ><strong>Зал № 2</strong></p>
                </td>
                <td valign="top" width="12.5%">
                
                </td>
                <td valign="top" width="12.5%">
                <p ><strong> </strong></p>
                </td>
                <td valign="top" width="12.5%">
                <p ><strong>12.00</strong></p>
                <p ><strong>Зал № 2</strong></p>
                </td>
                <td valign="top" width="12.5%">
                <p><strong> </strong></p>
                </td>
                </tr>
                
                <tr>
                <td valign="top" width="12.5%">
                <p><strong> </strong></p>
                <p><strong>Силовая   тренировка</strong></p>
                <p><strong> </strong></p>
                </td>
                <td valign="top" width="12.5%">
                <p ><strong> </strong></p>
                </td>
                <td valign="top" width="12.5%">
                
                </td>
                <td valign="top" width="12.5%">
                <p ><strong>18.30</strong></p>
                <p ><strong>Зал № 1</strong></p>
                <p ><strong> </strong></p>
                </td>
                <td valign="top" width="12.5%">
                <p ><strong> </strong></p>
                <p ><strong> </strong></p>
                <p ><strong>20.00 </strong></p>
                <p ><strong>Зал № 2</strong></p>
                </td>
                <td valign="top" width="12.5%">
                <p ><strong> </strong></p>
                </td>
                <td valign="top" width="12.5%">
                <p ><strong> </strong></p>
                <p ><strong>11.00</strong></p>
                <p ><strong>Зал № 2</strong></p>
                </td>
                <td valign="top" width="12.5%">
                <p><strong> </strong></p>
                </td>
                </tr>
                <tr>
                <td valign="top" width="12.5%">
                <p><strong> </strong></p>
                <p><strong>Тай-Бо</strong></p>
                <p><strong> </strong></p>
                </td>
                <td valign="top" width="12.5%">
                
                </td>
                <td valign="top" width="12.5%">
                <p ><strong>20.00 </strong></p>
                <p ><strong>Зал № 2</strong></p>
                <p ><strong> </strong></p>
                </td>
                <td valign="top" width="12.5%">
                
                </td>
                <td valign="top" width="12.5%">
                
                </td>
                <td valign="top" width="12.5%">
                <p ><strong> </strong></p>
                </td>
                <td valign="top" width="12.5%">
                
                </td>
                <td valign="top" width="12.5%">
                <p><strong> </strong></p>
                </td>
                </tr>
                
                <tr>
                <td valign="top" width="12.5%">
                <p><strong> </strong></p>
                <p><strong>Йога</strong></p>
                <p><strong> </strong></p>
                </td>
                <td valign="top" width="12.5%">
                
                </td>
                <td valign="top" width="12.5%">
                <p ><strong> </strong></p>
                </td>
                <td valign="top" width="12.5%">
                <p ><strong> </strong></p>
                <p ><strong>9.30</strong></p>
                <p ><strong>Зал № 1</strong></p>
                <p ><strong> </strong></p>
                <p ><strong> </strong></p>
                </td>
                <td valign="top" width="12.5%">
                <p ><strong> </strong></p>
                </td>
                <td valign="top" width="12.5%">
                <p ><strong> </strong></p>
                <p ><strong> 19.30</strong></p>
                <p ><strong>Зал № 1</strong></p>
                </td>
                <td valign="top" width="12.5%">
                <p ><strong> </strong></p>
                <p ><strong> </strong></p>
                </td>
                <td valign="top" width="12.5%">
                <p><strong> </strong></p>
                </td>
                </tr>
                
                
                <tr>
                <td valign="top" width="12.5%">
                <p><strong> </strong></p>
                <p><strong>Бачата</strong></p>
                <p><strong> </strong></p>
                </td>
                <td valign="top" width="12.5%">
                <p ><strong> </strong></p>
                <p ><strong> 20.00</strong></p>
                <p ><strong>Зал № 2</strong></p>
                </td>
                <td valign="top" width="12.5%">
                <p ><strong> </strong></p>
                </td>
                <td valign="top" width="12.5%">
                
                </td>
                <td valign="top" width="12.5%">
                <p ><strong> </strong></p>
                </td>
                <td valign="top" width="12.5%">
                <p ><strong> </strong></p>
                <p ><strong> 20.00</strong></p>
                <p ><strong>Зал № 2</strong></p>
                </td>
                <td valign="top" width="12.5%">
                <p ><strong> </strong></p>
                <p ><strong> </strong></p>
                </td>
                <td valign="top" width="12.5%">
                <p><strong> </strong></p>
                </td>
                </tr>
                
                <tr>
                <td valign="top" width="12.5%">
                <p><strong> </strong></p>
                <p><strong>Настольный теннис</strong></p>
                <p><strong> </strong></p>
                </td>
                <td valign="top" width="12.5%">
                <p ><strong> С 21:00</strong></p>
                
                </td>
                <td valign="top" width="12.5%">
                <p ><strong> С 21:00</strong></p>
                </td>
                <td valign="top" width="12.5%">
                <p ><strong> С 21:00</strong></p>
                </td>
                <td valign="top" width="12.5%">
                <p ><strong> С 21:00</strong></p>
                </td>
                <td valign="top" width="12.5%">
                <p ><strong> С 21:00</strong></p>
                </td>
                <td valign="top" width="12.5%">
                <p ><strong> После 12:00 по предварительной записи</strong></p>
                </td>
                <td valign="top" width="12.5%">
                <p ><strong> В течение всего дня по предварительной записи</strong></p>
                </td>
                </tr>
                
                </tbody>
                </table>
            </div>
          </div>
        </div>
      </section>
      


      <!--  ГАЛЛЕРЕЯ    -->
      <section id="galereya">
        <div class="gallery">
          <div class="container-fluid">
            <h1 class="title">ГАЛЛЕРЕЯ</h1>
            <div class="row">
              <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <a href="" class="fancybox" rel="ligthbox" data-toggle="modal" data-target="#exampleModal" data-toggle="modal" data-target="#exampleModal">
                    <img src="../static/img/gal/IMG-2919749b0d87753ac77eaf22b296a677-V.jpg" class="zoom img-fluid " alt="">
                    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                      <div class="modal-dialog" role="document">
                        
                      </div>
                    </div>
                </a>
              </div>
              <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <a href="" class="fancybox" rel="ligthbox" data-toggle="modal" data-target="#exampleModal-2" data-toggle="modal" data-target="#exampleModal">
                    <img src="../static/img/gal/IMG-703aecfd3ad9e19d204255afecdca76f-V.jpg" class="zoom img-fluid " alt="">
                     <div class="modal fade" id="exampleModal-2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                      <div class="modal-dialog" role="document">
                        
                      </div>
                    </div>
                </a>
              </div>
              <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <a href="" class="fancybox" rel="ligthbox" data-toggle="modal" data-target="#exampleModal-3" data-toggle="modal" data-target="#exampleModal">
                    <img src="../static/img/gal/IMG-27ce4d55287b28bbd0440693d7c4b031-V.jpg" class="zoom img-fluid " alt="">
                     <div class="modal fade" id="exampleModal-3" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                      <div class="modal-dialog" role="document">
                        
                      </div>
                    </div>
                </a>
              </div>
              <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <a href="" class="fancybox" rel="ligthbox" data-toggle="modal" data-target="#exampleModal-4" data-toggle="modal" data-target="#exampleModal">
                    <img src="../static/img/gal/IMG-40154ef9727e2ca19ba2b6be8af1b531-V.jpg" class="zoom img-fluid " alt="">
                     <div class="modal fade" id="exampleModal-4" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                      <div class="modal-dialog" role="document">
                        
                      </div>
                    </div>
                </a>
              </div>
              <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <a href="" class="fancybox" rel="ligthbox" data-toggle="modal" data-target="#exampleModal-5" data-toggle="modal" data-target="#exampleModal">
                    <img src="../static/img/gal/IMG-62cc6e196e2c23caae3e10fa4eb1aeba-V.jpg" class="zoom img-fluid " alt="">
                     <div class="modal fade" id="exampleModal-5" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                      <div class="modal-dialog" role="document">
                        
                      </div>
                    </div>
                </a>
              </div>
              <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <a href="" class="fancybox" rel="ligthbox" data-toggle="modal" data-target="#exampleModal-6" data-toggle="modal" data-target="#exampleModal">
                    <img src="../static/img/gal/IMG-85dee105d0c8686a0b3ab48c024c44d3-V.jpg" class="zoom img-fluid " alt="">
                     <div class="modal fade" id="exampleModal-6" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                      <div class="modal-dialog" role="document">
                        
                      </div>
                    </div>
                </a>
              </div>
              
              <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <a href="" class="fancybox" rel="ligthbox" data-toggle="modal" data-target="#exampleModal-7" data-toggle="modal" data-target="#exampleModal">
                    <img src="../static/img/gal/IMG-18d18b97ac1049f7cd36e088813d0b0a-V.jpg" class="zoom img-fluid " alt="">
                     <div class="modal fade" id="exampleModal-7" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                      <div class="modal-dialog" role="document">
                        
                      </div>
                    </div>
                </a>
              </div>
              <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <a href="" class="fancybox" rel="ligthbox" data-toggle="modal" data-target="#exampleModal-8" data-toggle="modal" data-target="#exampleModal">
                    <img src="../static/img/gal/11.jpg" class="zoom img-fluid " alt="">
                     <div class="modal fade" id="exampleModal-8" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                      <div class="modal-dialog" role="document">
                        
                      </div>
                    </div>
                </a>
              </div>
              <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <a href="" class="fancybox" rel="ligthbox" data-toggle="modal" data-target="#exampleModal-9" data-toggle="modal" data-target="#exampleModal">
                    <img src="../static/img/gal/IMG-cdf462319cca61aba395cb9498859941-V.jpg" class="zoom img-fluid " alt="">
                     <div class="modal fade" id="exampleModal-9" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                      <div class="modal-dialog" role="document">
                        
                      </div>
                    </div>
                </a>
              </div>
              <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <a href="" class="fancybox" rel="ligthbox" data-toggle="modal" data-target="#exampleModal-10" data-toggle="modal" data-target="#exampleModal">
                    <img src="../static/img/gal/IMG-db0c84e07cc0aab4259e23fef0b8329f-V.jpg" class="zoom img-fluid " alt="">
                     <div class="modal fade" id="exampleModal-10" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                      <div class="modal-dialog" role="document">
                        
                      </div>
                    </div>
                </a>
              </div>
              <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <a href="" class="fancybox" rel="ligthbox" data-toggle="modal" data-target="#exampleModal-11" data-toggle="modal" data-target="#exampleModal">
                    <img src="../static/img/gal/IMG-ad2c7dafbb2a3620eb4248113ca24bff-V.jpg" class="zoom img-fluid " alt="">
                     <div class="modal fade" id="exampleModal-11" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                      <div class="modal-dialog" role="document">
                        
                      </div>
                    </div>
                </a>
              </div>
              <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <a href="" class="fancybox" rel="ligthbox" data-toggle="modal" data-target="#exampleModal-12" data-toggle="modal" data-target="#exampleModal">
                    <img src="../static/img/gal/IMG-9c8baf4f232d459346d45f5bdf12cb65-V.jpg" class="zoom img-fluid " alt="">
                     <div class="modal fade" id="exampleModal-12" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                      <div class="modal-dialog" role="document">
                        
                      </div>
                    </div>
                </a>
              </div>
              <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <a href="" class="fancybox" rel="ligthbox" data-toggle="modal" data-target="#exampleModal-13" data-toggle="modal" data-target="#exampleModal">
                    <img src="../static/img/gal/IMG-878d118cb2c3df88dd216310c32c66ad-V.jpg" class="zoom img-fluid " alt="">
                     <div class="modal fade" id="exampleModal-13" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                      <div class="modal-dialog" role="document">
                        
                      </div>
                    </div>
                </a>
              </div>
              <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <a href="" class="fancybox" rel="ligthbox" data-toggle="modal" data-target="#exampleModal-14" data-toggle="modal" data-target="#exampleModal">
                    <img src="../static/img/gal/IMG-8464ff2c2447604ec2b0f462ef551187-V.jpg" class="zoom img-fluid " alt="">
                     <div class="modal fade" id="exampleModal-14" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                      <div class="modal-dialog" role="document">
                        
                      </div>
                    </div>
                </a>
              </div>
              <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <a href="" class="fancybox" rel="ligthbox" data-toggle="modal" data-target="#exampleModal-15" data-toggle="modal" data-target="#exampleModal">
                    <img src="../static/img/gal/IMG-003c7cb3a83d6314f0f1c4b670cdb77d-V.jpg" class="zoom img-fluid " alt="">
                     <div class="modal fade" id="exampleModal-15" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                      <div class="modal-dialog" role="document">
                        
                      </div>
                    </div>
                </a>
              </div>
              <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <a href="" class="fancybox" rel="ligthbox" data-toggle="modal" data-target="#exampleModal-16" data-toggle="modal" data-target="#exampleModal">
                    <img src="../static/img/gal/IMG-1a4f217fab030dab70e9b9d532309fe8-V.jpg" class="zoom img-fluid " alt="">
                     <div class="modal fade" id="exampleModal-16" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                      <div class="modal-dialog" role="document">
                        
                      </div>
                    </div>
                </a>
              </div>

              
              
            </div>
          </div>
        </div>
      </section>
      <!--    КОНТАКТЫ     -->
      <section id="contactUs">
        <div class="container-fluid contacts">
          <div class="row mobile-cont_wrap">
            <div class="col-4">
              <div class="contacts_wrap">
                <h1>КОНТАКТЫ</h1>
                <div class="contacts_block">
                  <h3>Связь с нами:</h3>
                  <span>Адрес: Московская область,<br> г.о. Химки, ул. Академика Грушина, д. 8</span><br>
                  <span>Viber, WhatsApp: </span><a href="viber://chat?number=79850017505" mce_href="viber://chat?number=79850017505">+7-985-001-75-05</a>
                </div>
                <div class="contacts_block">
                  <h3>Режим работы:</h3>
                  <span>Понедельник - Суббота: 9.00-21.00</span><br>
                  <span>Воскресенье: Выходной</span>
                </div>
                <div class="contacts_block">
                  <h3>Реквизиты:</h3>
                  <span>Общество с ограниченной ответственностью «СК АЭРОМИКС»</span><br>
                  <span>Юридический адрес: 141401, Московская обл., г. Химки, ул. Академика Грушина, д.8</span><br>
                  <span>Фактический адрес: 141401 г. Химки, ул. Грушина д.8</span><br>
                  <span>ОГРН: 1195081090434</span><br>
                  <span>ИНН: 5047235906</span>
                </div>
              </div>
            </div>
            <div class="col flex-grow-1">
              <div class="map" style="height: 100%">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d4472.632165418651!2d37.452697120121165!3d55.909219530253324!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x46b539036975ad6b%3A0xcc0186af2345ac1d!2z0YPQuy4g0JDQutCw0LTQtdC80LjQutCwINCT0YDRg9GI0LjQvdCwLCA4LCDQpdC40LzQutC4LCDQnNC-0YHQutC-0LLRgdC60LDRjyDQvtCx0LsuLCAxNDE0MDE!5e0!3m2!1sru!2sru!4v1583675270796!5m2!1sru!2sru" width="100%" height="100%" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
              </div>
            </div>
          </div>
        </div>
      </section>
      <footer id="footer" class="footer">
        <p class="footer-text">
          H4RDCORRR© <span>все права защищены</span>
        </p>
      </footer>
    <div id="wrapper">
        {% block content %}

        {% endblock %}
    </div>
    {# для примера как подключать js #}
    <script type="text/javascript" src="{{ url_for('static', filename='js/jquery.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/bodyScrollLock.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/popper.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/main.js') }}"></script>
    <script>
       // staic page
    $(document).click(function () {
        let target = event.target;
        let bdy = $('body')
        if (target.classList.contains('img-fluid')) {
          bodyScrollLock.disableBodyScroll(bdy);
        } else if (target.classList.contains('modal')) {
          bodyScrollLock.enableBodyScroll(bdy);
          bodyScrollLock.clearAllBodyScrollLocks(bdy);
        }
    });
    </script>
</body>
</html>