<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8" />
    <title>Title</title>

    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link
      href="../static/css/bootstrap.min.css"
      rel="stylesheet"
      type="text/css"
    />
    <link href="../static/css/style.css" rel="stylesheet" type="text/css" />
    <link href="../static/css/mobile.css" rel="stylesheet" type="text/css" />
  </head>

  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light nav-page">
      <a class="navbar-brand logo" href="http://aeromix-khimki.1gb.ru/">Aero<span>Mix</span></a>
      <button
        class="navbar-toggler "
        type="button"
        data-toggle="collapse"
        data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class style="color: rgba(0, 0, 0, 0.5); font-weight: bold;"
          >menu</span
        >
        <span class="navbar-toggler-icon"></span>
      </button>

      <div
        class="collapse navbar-collapse collapse-grow head-menu menu_burger"
        id="navbarSupportedContent"
      >
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="#priceSection"
              >Цены<span class="sr-only">(current)</span></a
            >
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="#trainings">
              Виды спорта<span class="sr-only">(current)</span></a
            >
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="#board-1">
              Расписание<span class="sr-only">(current)</span></a
            >
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="#contactUs"
              >Контакты<span class="sr-only">(current)</span></a
            >
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="#galereya"
              >Галлерея <span class="sr-only">(current)</span></a
            >
          </li>
        </ul>
      </div>
    </nav>

    <!--  ГАЛЛЕРЕЯ    -->
    <section id="aerobika">
      <div class="aerobika">
        <div class="container-fluid">
          <h1 class="title">Джаз-фанк</h1>
          <div class="row">
            <div class="col-12">
              <div class="sportcard-wrap">
                <p>
                  ОJUZZ FUNK – один из самых эффектных, стильных и современных
                  направлений танцев, притягивающий взгляд и завораживающий,
                  крайне эмоциональный и не имеющий ничего общего с джазовой
                  музыкой. Он сочетает в себе огненную смесь таких стилей как
                  хип-хоп и джаз-модерн с элементами вакинга и вога. В нем нет
                  правил и ограничений, совмещение несовместимого делает этот
                  танец невероятно привлекательным и ярким. Открыт набор в
                  группу JUZZ FUNK детей в возрасте от 10 до 16 лет.
                </p>
                <p>
                  Занятия ведет Левина Александра - участница команды LIL’FAM,
                  эта команда победитель и призер многочисленных соревнований в
                  России, Испании, Германии и США.
                </p>
              </div>
            </div>
            <div class="col-lg-6 col-md-12 col-sm-11">
              <div class="img-jazfank-1"></div>
            </div>
            <div class="col-lg-6 col-md-12 col-sm-11">
              <div class="img-jazfank-2"></div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <footer id="footer" class="footer">
      <p class="footer-text">
        H4RDCORRR© <span>все права защищены</span>
      </p>
    </footer>

    <script type="text/javascript" src="../static/js/jquery.js"></script>
    <script type="text/javascript" src="../static/js/popper.js"></script>
    <script type="text/javascript" src="../static/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="../static/js/main.js"></script>
    <script>
      // staic page
      $(document).click(function() {
        let target = event.target;
        let bdy = $("body");
        if (target.classList.contains("img-fluid")) {
          bodyScrollLock.disableBodyScroll(bdy);
        } else if (target.classList.contains("modal")) {
          bodyScrollLock.enableBodyScroll(bdy);
          bodyScrollLock.clearAllBodyScrollLocks(bdy);
        }
      });
    </script>
  </body>
</html>
